body {
    text-align: center;
}

h1 {
    font-family: 'League Script', cursive;
    text-align: center;
    width: 100%;
    font-size: 62pt;
}

body img {
    height: 300px;
    width: 400px;
}

#slider {
    width: 50%;
    margin: 0 auto;
}