body {
    text-align: center;
    background: url(/images/greyzz.png);
    font-family: 'League Script', cursive;
}

h1 {
    text-align: center;
    width: 100%;
    font-size: 62pt;
}

body img {
    height: 300px;
    width: 400px;
}

#slider {
    width: 50%;
    margin: 0 auto;
}

#slider .tick { z-index: 2; position: absolute; height: 100%; font-size: 1.8em; line-height: 1.8em; background: none; border-top: none; border-right: none; border-bottom: none; text-align: center; }