body {
    text-align: center;
    background: url(/images/greyzz.png);
    font-family: 'League Script', cursive;
}

a, a:link, a:hover, a:visited {
    color: #000;
}

#about {
    font-family: Helvetica;
    font-size: 8pt;
    width:50%;
    margin:0 auto;
}

.plain-text {
    font-family: Helvetica;
    font-size: 8pt;
}

.date-text {
    font-family: 'League Script', cursive, bold;
    font-size: 12pt;
    font-weight:bold;
}

h1 {
    text-align: center;
    width: 100%;
    font-size: 62pt;
}

body img {
    margin-top:-50px;
    height: 239px;
    width: 426px;
}

#slider {
    width: 50%;
    height: 20px;
    margin: 0 auto;
}

#slider #timeline {
    width: 100%;
    height: 0;
    border-top: 1px solid #666;
    position: relative;
    top: 10px;
}

.ui-slider {
    position: relative;
}

.ui-slider-handle:focus {
  outline: none;
}

.ui-widget-content {
    border: 0;
}

#slider .ui-slider-handle {
    position: absolute;
    border-radius: 15px;
    width: 16px;
    height: 16px;
    background: transparent;
    border: 1px solid black;
    margin-left: -4px;
}

#slider .tick {
    position: absolute;
    border: 1px solid #666;
    border-radius: 16px;
    width: 10px;
    height: 10px;
    margin-top: 4px;
    background: #666;
    cursor: pointer;
}

    .ui-widget-content {
        border: 0 !important;
    }